@font-face {
    font-family: 'Cera Pro';
    src: url('./fonts/CeraPro-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Cera Pro';
    src: url('./fonts/CeraPro-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

:root{
    --blue: rgb(0, 120, 238);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
}

p{
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
}

ol, ul{
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    padding-left: 1.5em;
}

input{
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 60px;
}

.list{
    display: flex;
    gap: 45px;
    margin-top: 50px;
}

.cards{
    display: flex;
    height: 460px;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.cards .card{
    min-height: 140px;
    background-color: rgb(242, 240, 240);
    padding: 26px 90px 17px 20px;
    cursor: pointer;
}

.cards .card.active{
    background-color: var(--blue);
    color: white;
}

.cards .card .title{
    font-family: 'Cera Pro', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
    white-space: nowrap;
}

.cards .card .content p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.contents{
    flex: 1;
}

.contents .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 21px;
    background-color: rgb(242, 240, 240);
    height: 460px;
}

.contents .content .filling{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.contents .content .filling::-webkit-scrollbar{
    width: 4px;
    /*background-color: rgba(173, 182, 191, 0.4);*/
}
.contents .content .filling::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--blue);
}

.contents .content .filling::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-bottom: 16px;
    background-color: rgba(173, 182, 191, 0.4);
}

/*.contents .content .filling > *{*/
/*    margin-bottom: 20px;*/
/*}*/

/*.contents .content .filling > *:last-child{*/
/*    margin-bottom: 0;*/
/*}*/

.btn{
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: var(--blue);
    color: white;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.row{
    width: 295px;
    height: 45px;
}

.row input {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 19px;
    outline: none;
    transition: 0.5s;
}

.row label {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    display: block;
    color: rgb(173, 182, 191);
    transform: translateY(-2rem) translateX(1rem);
    transition: 0.5s;
}
.row input:focus + label,
.row input:valid + label {
    font-size: 12px;
    transform: translateY(-2.7rem) translateX(1.2rem);
}

/*.input{*/
/*    width: 295px;*/
/*    height: 45px;*/
/*    border: 1px solid white;*/
/*    border-radius: 10px;*/
/*    padding: 15px 19px;*/
/*    transition: 0.5s;*/
/*    outline: none;*/
/*}*/

/*.input::placeholder{*/
/*    font-family: 'Cera Pro', sans-serif;*/
/*    font-weight: 400;*/
/*    transition: 0.2s ease-in-out;*/
/*}*/

/*input:focus::placeholder {*/
/*    transform: translateY(-12px);*/
/*    font-size: 12px;*/
/*}*/


.hidden{
    display: none !important;
}

@media  screen and (max-width: 640px) {
    .list{
        flex-direction: column;
    }
}

@media screen and (max-width: 376px) {
    .container{
        max-width: 376px;
        padding: 0 20px;
    }
    .list{
        gap: 30px;
    }
    .cards{
        gap: 10px;
    }
    .cards .card{
        padding: 20px;
    }
    .cards .card .title{
        font-size: 20px;
    }
    .cards .card .content{
        font-size: 12px;
    }

    .cards .card .content p{
        -webkit-line-clamp: 4;
    }
    .contents .content .filling h2{
        font-size: 22px;
    }
    .contents .content .filling p, ol, ul{
        font-size: 14px;
    }
    .row{
        width: calc(100% - 20px);
    }
    .btn{
        font-size: 14px;
    }
}


@media (hover: hover) {
    .btn:hover{
        background-color: white;
        color: var(--blue);
    }
    .row .input:hover{
        border: 1px solid var(--blue);
    }
}

@media (hover: none) {
    .btn:active{
        background-color: white;
        color: var(--blue);
    }
}